[submodule "engine/AvaloniaEdit"]
	path = src/AvaloniaEdit
	url = ../AvaloniaEdit.git
[submodule "src/ILSpy"]
	path = src/ILSpy
	url = https://github.com/lextudio/ILSpy
	branch = wpf-isolation
[submodule "src/TomsToolbox"]
	path = thirdparty/TomsToolbox
	url = https://github.com/tom-englert/TomsToolbox.git
	branch = avalonia
[submodule "thirdparty/Avalonia.Controls.DataGrid"]
	path = thirdparty/Avalonia.Controls.DataGrid
	url = https://github.com/lextudio/Avalonia.Controls.DataGrid.git
