[submodule "thirdparty/AvaloniaEdit"]
	path = thirdparty/AvaloniaEdit
	url = https://github.com/lextudio/AvaloniaEdit.git
[submodule "src/ILSpy"]
	path = src/ILSpy
	url = https://github.com/lextudio/ILSpy
	branch = wpf-isolation
[submodule "thirdparty/TomsToolbox"]
	path = thirdparty/TomsToolbox
	url = https://github.com/tom-englert/TomsToolbox.git
	branch = avalonia
[submodule "thirdparty/Avalonia.Controls.DataGrid"]
	path = thirdparty/Avalonia.Controls.DataGrid
	url = https://github.com/lextudio/Avalonia.Controls.DataGrid.git
