#    Copyright 2024 CodeMerx
#    Copyright 2025 LeXtudio Inc.
#    This file is part of ProjectRover.

#    ProjectRover is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.

#    ProjectRover is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#    GNU Affero General Public License for more details.

#    You should have received a copy of the GNU Affero General Public License
#    along with ProjectRover.  If not, see<https://www.gnu.org/licenses/>.

name: Package

on:
  workflow_dispatch:

jobs:
  package-all:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name : Restore dependencies (Windows x64)
      run: dotnet restore -p:Configuration=Release -r win-x64 --force-evaluate
      working-directory: ./src/ProjectRover

    - name: Publish (Windows x64)
      run: dotnet publish -r win-x64 -c Release
      working-directory: ./src/ProjectRover

    - name: Archive artifacts (Windows x64)
      uses: actions/upload-artifact@v4
      with:
        name: ProjectRover-windows-x64
        path: src/ProjectRover/bin/Release/net10.0/win-x64/publish

    - name : Restore dependencies (ARM)
      run: dotnet restore -p:Configuration=Release -r win-arm64 --force-evaluate
      working-directory: ./src/ProjectRover

    - name: Publish (Windows ARM64)
      run: dotnet publish -r win-arm64 -c Release
      working-directory: ./src/ProjectRover

    - name: Archive artifacts (Windows ARM64)
      uses: actions/upload-artifact@v4
      with:
        name: ProjectRover-windows-arm64
        path: src/ProjectRover/bin/Release/net10.0/win-arm64/publish

    - name: Restore dependencies (macOS x64)
      run: dotnet restore -r osx-x64 --force-evaluate
      working-directory: ./src/ProjectRover

    - name: Publish (macOS x64)
      run: dotnet publish -r osx-x64 -c Release
      working-directory: ./src/ProjectRover

    - name: Build .app bundle (macOS x64)
      run: build/macos/build-application-bundle.sh osx-x64

    - name: Archive artifacts (macOS x64)
      run: tar -czpf ProjectRover-macos-x64.tar.gz ProjectRover.app

    - name: Upload artifacts (macOS x64)
      uses: actions/upload-artifact@v4
      with:
        name: ProjectRover-macos-x64
        path: ProjectRover-macos-x64.tar.gz

    - name: Restore dependencies (macOS ARM64)
      run: dotnet restore -r osx-arm64 --force-evaluate
      working-directory: ./src/ProjectRover

    - name: Publish (macOS ARM64)
      run: dotnet publish -r osx-arm64 -c Release
      working-directory: ./src/ProjectRover

    - name: Build .app bundle (macOS ARM64)
      run: build/macos/build-application-bundle.sh osx-arm64

    - name: Archive artifacts (macOS ARM64)
      run: tar -czpf ProjectRover-macos-arm64.tar.gz ProjectRover.app

    - name: Upload artifacts (macOS ARM64)
      uses: actions/upload-artifact@v4
      with:
        name: ProjectRover-macos-arm64
        path: ProjectRover-macos-arm64.tar.gz

    - name : Restore dependencies (Linux x64)
      run: dotnet restore -r linux-x64 --force-evaluate
      working-directory: ./src/ProjectRover

    - name: Publish (Linux x64)
      run: dotnet publish -r linux-x64 -c Release
      working-directory: ./src/ProjectRover

    - name: Archive artifacts (Linux x64)
      run: tar -czpf ProjectRover-linux-x64.tar.gz -C ./src/ProjectRover/bin/Release/net10.0/linux-x64/publish .

    - name: Upload artifacts (Linux x64)
      uses: actions/upload-artifact@v4
      with:
        name: ProjectRover-linux-x64
        path: ProjectRover-linux-x64.tar.gz

    - name : Restore dependencies (Linux ARM64)
      run: dotnet restore -r linux-arm64 --force-evaluate
      working-directory: ./src/ProjectRover

    - name: Publish (Linux ARM64)
      run: dotnet publish -r linux-arm64 -c Release
      working-directory: ./src/ProjectRover

    - name: Archive artifacts (Linux ARM64)
      run: tar -czpf ProjectRover-linux-arm64.tar.gz -C ./src/ProjectRover/bin/Release/net10.0/linux-arm64/publish .

    - name: Upload artifacts (Linux ARM64)
      uses: actions/upload-artifact@v4
      with:
        name: ProjectRover-linux-arm64
        path: ProjectRover-linux-arm64.tar.gz
